In [1]:
from twquant import stockindc as si
from twquant import gen, drv

# 價格

In [11]:
x = si.Price('20200619', '上市')
x.head(1)

,股價日期,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,本益比
15693,2020-06-19,1101,台泥,25125556.0,9486.0,1.073042e+09,42.8,43.2,42.55,42.55,0.15,10.35

In [4]:
# x.info()

In [19]:
x = si.Price('20200619', '上櫃')
x.head(1)

,股價日期,代號,名稱,收盤,漲跌,開盤,最高,最低,成交股數,成交金額(元),成交筆數,發行股數
98,2020-06-19,1240,茂生農經,60.1,-0.8,60.9,63.0,60.0,886000.0,54578200.0,568.0,33990000.0

In [5]:
# x.info()

# 財報

In [3]:
x = si.FinanceRatio('上市',2019,4,'營益分析')
x.add_raw()
x.unify()
x.data.head(1)

   財報年度   季  公司代號 公司名稱  營業收入(百萬元)  毛利率(%)  營業利益率(%)  稅前純益率(%)  稅後純益率(%)
0  2019  04  1101   台泥  122783.01   29.25     24.56     26.58     20.73

In [6]:
# x.data.info()

In [4]:
gen.join_tej(x.data,'公司代號').head(1)

,財報年度,季,市場,主產業,次產業,公司代號,公司名稱,營業收入(百萬元),毛利率(%),營業利益率(%),稅前純益率(%),稅後純益率(%)
0,2019,04,上市,水泥製造,水泥製造,1101,台泥,122783.01,29.25,24.56,26.58,20.73

In [6]:
x = si.FinanceRatio('上市',2019,4,'財務結構分析')
x.add_raw()
x.unify()
x.data.head(1)

,財報年度,公司代號,公司名稱,負債比率(%),流動比率(%),速動比率(%),利息保障倍數(%),應收款項週轉率(次),存貨週轉率(次),固定資產週轉率(次),總資產週轉率(次),資產報酬率(%),權益報酬率(%),每股盈餘(元),現金流量比率(%),現金流量允當比率(%),現金再投資比率(%)
0,2019,1101,台泥,43.27,177.58,164.66,18.36,3.12,9.87,1.36,0.35,7.58,12.54,4.43,43.39,81.43,2.48

In [7]:
# x.data.info()

In [8]:
x = si.Revenue('上市',2019,8)
x.add_raw()
x.unify()
x.data.head(1)

     年  月  公司代號 公司名稱      8月營收    去年8月營收  8月營收年成長(%)
0  108  8  1101   台泥  10228796  10707234       -4.46

In [8]:
# x.data.info()

In [6]:
last3Mth = si.last3MthRvnuGrw(2020,5)
last3Mth.head(1)

In [9]:
# last3Mth.info()

# 股利 or 減資

In [28]:
x = si.Dividend('上市',2020)
x.add_raw()
x.unify()
x.data[x.data.公司代號=='2330']

        資料日期 MKT  公司代號 公司名稱  現金股利  股票股利
5   20200618  上市  2330  台積電   2.5   0.0
53  20200917  上市  2330  台積電   2.5   0.0

In [10]:
# x.data.info()

In [36]:
x = si.Dividend('上櫃',2020)
x.add_raw()
x.unify()
x.data[x.data.公司代號=='8446']

        資料日期 MKT  公司代號 公司名稱  現金股利  股票股利
26  20200416  上櫃  8446   華研   4.5   0.0

In [11]:
# x.data.info()

In [33]:
x = si.EtfDiv(2020)
x.add_raw()
x.unify()
x.data[x.data.股票代號=='0050']

,資料日期,股票代號,股票名稱,現金股利,股票股利,詳細資料
8,20200131,0050,元大台灣50,2.900000,0,exchange/TWT49UDetail?STK_NO=0050&&T1=20200131

In [12]:
# x.data.info()

In [7]:
x = si.CptlReduct('上市',2020)
x.add_raw()
x.unify()
x.data.head(1)

In [13]:
# x.data.info()

In [40]:
x = si.CptlReduct('上櫃',2020)
x.add_raw()
x.unify()
x.data.head(1)

       資料日期 MKT  股票代號    名稱  停止買賣前價格  恢復買賣參考價  減資原因  每千股換發股數  每股退還金額
0  20200113  上櫃  3073  凱柏實業      5.2     9.76  彌補虧損   532.79     0.0

In [14]:
# x.data.info()

# 年度匯總

In [5]:
r_2019 = gen.YearlyRatio(2019)
r_2019.head(1)

2019 stage = siiRatio otcRatio

,財報年度,公司代號,公司名稱,營業收入(百萬元),毛利率(%),營業利益率(%),稅前純益率(%),稅後純益率(%),負債比率(%),流動比率(%),...,應收款項週轉率(次),存貨週轉率(次),固定資產週轉率(次),總資產週轉率(次),資產報酬率(%),權益報酬率(%),每股盈餘(元),現金流量比率(%),現金流量允當比率(%),現金再投資比率(%)
0,2019,1101,台泥,122783.01,29.25,24.56,26.58,20.73,43.27,177.58,...,3.12,9.87,1.36,0.35,7.58,12.54,4.43,43.39,81.43,2.48

In [18]:
# r_2019.info()

In [2]:
y_2019 = gen.YearlyFinanceReport(2019)
y_2019.head(1)

2019 stage = siiRatio otcRatio
last 3 month rvnu period = 202003 - 202001

,公司代號,公司名稱,市場,主產業,次產業,財報年度,營業收入(百萬元),毛利率(%),營業利益率(%),稅前純益率(%),...,每股盈餘(元),現金流量比率(%),現金流量允當比率(%),現金再投資比率(%),近3月營收 平均YOY(%),近3月累計營收 YOY(%),年報公佈後收盤價,本益比,PE1 中位數,PE2 中位數
0,1101,台泥,上市,水泥製造,水泥製造,2019,122783.01,29.25,24.56,26.58,...,4.43,43.39,81.43,2.48,-11.57,-13.33,41.0,9.26,9.46,9.46

In [19]:
# y_2019.info()